body {
    margin: 0;
}

.Menu {
    background:red;

}
.Menu ul{
    list-style-type:none;
    margin:10px;
}
.Menu ul li{
    display: inline-block;
  
    
}
.Menu ul li a{
    text-decoration:none;
    color:white;
    padding:20px;
    display: inline-block;
    font-size:30px;
    border-right:1px solid white;
    margin

}
.Menu ul li a:hover{
    color:green;
}


.Menu2 {
    
    margin-top:50px;
}
.Menu2 ul{
    list-style-type:none;
    margin:10px;
}
.Menu2 ul li{
    display: inline-block;
  
    
}
.Menu2 ul li a{
    text-decoration:none;
    color:black;
    margin:10px;
    padding:20px;
    display: inline-block;
    font-size:30px;
    border-right:1px solid white;
    background:orange;
    border-radius:10px 
}
.Menu2 ul li a:hover{
    color:green;
}

